body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/images/homepage-webslider-1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    position: relative;
    overflow: hidden;
}

/* Add a black overlay with 22% opacity to the background */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.22);
    z-index: -1;
}


.a-link:hover{
    color:  #ff2a46;

}


  
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-top: -40px;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.login-form h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #eb213d;
    margin-bottom: 25px;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color:  #eb213d;
    outline: none;
    box-shadow: 0 0 5px rgba(247, 21, 21, 0.5);
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color:  #eb213d;;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form button:hover {
    background-color:  #ff2a46;
    transform: translateY(-2px);
}

.login-form p {
    font-size: 16px;
    color:  #eb213d;;
    margin-top: 20px;
}

.login-form a {
    color:  #eb213d;;
    text-decoration: none;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}



.login-info {
    margin-top: 30px;
    text-align: center;
}

.login-info button {
    margin: 10px;
    padding: 12px 20px;
    background-color:  #eb213d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-info button:hover {
    background-color:  #ff2a46;;
    transform: translateY(-2px);
}

/* Animation for smooth fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}