body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/images/Technology-Building-1-scaled.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.22);
    z-index: -1;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-top: -40px;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

form h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #eb213d;
    margin-bottom: 25px;
}

form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    transition: border-color 0.3s ease;
}

form input:focus {
    color: #eb213d;
    outline: none;
    box-shadow: 0 0 5px rgba(247, 21, 21, 0.5);
}

form button {
    width: 100%;
    padding: 15px;
    background-color:#eb213d;    
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color:  #ff2a46;
    transform: translateY(-2px);
}

form p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
}

form a {
    color:  #eb213d;;
    text-decoration: none;
    font-weight: bold;
}

form a:hover {
    text-decoration: underline;
}

.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color:  #eb213d;;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color:  #ff2a46;
    transform: translateY(-2px);
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}